<p>For purposes of security on the internet, we developed a password generator, which generates totally random passwords. 
    We don't save IP addresses or use already generated passwords, so you can feel totally safe on our site.
    It's a good idea to have at least two or three passwords for different types of sites. And using our generator, you can create passwords for different types of sites. 
    While you can use weaker passwords for blogs and forums, stronger passwords are necessary for email accounts and online banking.</p>